<footer class="container-fluid bg-black text-light text-center text-lg-start mb-5 mt-5">

    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">

            <div class="contacto m-5">
                <h5 class="text-uppercase mb-0 ">Contactanos</h5>

                <ul class="list-unstyled mb-0 ">
                    <li>
                        <a href="" class=" text-light text-decoration-none text-decoration-none ">Bogota, calle
                            1#1-1.</a>
                    </li>
                    <li>
                        <a href="" class="text-light text-decoration-none text-decoration-none">312111111</a>
                    </li>
                    <li>
                        <a href="" class="text-light text-decoration-none text-decoration-none">Mipr@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

            <div class="nosotros m-5">
                <h5 class="text-uppercase mb-0">Nosotros</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Eventos</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none ">Descuentos</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none ">Ferias</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none ">Instagram</a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
            <div class="interes m-5">
                <h5 class="text-uppercase">Interes</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Proximos Lanzamientos</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none ">Descuentos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>

