<app-navbar></app-navbar>

<section class="inicioSesion container">
    <div>
        <form>
            <img src="" alt="">
            <div class="mb-3">
                <h1 class="registro text-center text-black mb-4">Iniciar sesión</h1>
                <input type="email" class="form-control" placeholder="example@email.com" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"></label>
                    <input type="password" class="form-control" placeholder="Pasword" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1 text-light">Recordar datos</label>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </form>
        <img src="" alt="">
    </div>
</section>
<app-footer></app-footer>